In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data Description

In [2]:
desc_df = pd.read_csv('dataset/LCDataDictionary.csv')

In [3]:
for i in range(desc_df.shape[0]):
    print(desc_df.loc[i]['LoanStatNew'],' : ',desc_df.loc[i]['Description'])

acc_now_delinq  :  The number of accounts on which the borrower is now delinquent.
acc_open_past_24mths  :  Number of trades opened in past 24 months.
addr_state  :  The state provided by the borrower in the loan application
all_util  :  Balance to credit limit on all trades
annual_inc  :  The self-reported annual income provided by the borrower during registration.
annual_inc_joint  :  The combined self-reported annual income provided by the co-borrowers during registration
application_type  :  Indicates whether the loan is an individual application or a joint application with two co-borrowers
avg_cur_bal  :  Average current balance of all accounts
bc_open_to_buy  :  Total open to buy on revolving bankcards.
bc_util  :  Ratio of total current balance to high credit/credit limit for all bankcard accounts.
chargeoff_within_12_mths  :  Number of charge-offs within 12 months
collection_recovery_fee  :  post charge off collection fee
collections_12_mths_ex_med  :  Number of collections in 12 months excluding medical collections
delinq_2yrs  :  The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
delinq_amnt  :  The past-due amount owed for the accounts on which the borrower is now delinquent.
desc  :  Loan description provided by the borrower
dti  :  A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
dti_joint  :  A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
earliest_cr_line  :  The month the borrower's earliest reported credit line was opened
emp_length  :  Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
emp_title  :  The job title supplied by the Borrower when applying for the loan.*
fico_range_high  :  The upper boundary range the borrower’s FICO at loan origination belongs to.
fico_range_low  :  The lower boundary range the borrower’s FICO at loan origination belongs to.
funded_amnt  :  The total amount committed to that loan at that point in time.
funded_amnt_inv  :  The total amount committed by investors for that loan at that point in time.
grade  :  LC assigned loan grade
home_ownership  :  The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
id  :  A unique LC assigned ID for the loan listing.
il_util  :  Ratio of total current balance to high credit/credit limit on all install acct
initial_list_status  :  The initial listing status of the loan. Possible values are – W, F
inq_fi  :  Number of personal finance inquiries
inq_last_12m  :  Number of credit inquiries in past 12 months
inq_last_6mths  :  The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
installment  :  The monthly payment owed by the borrower if the loan originates.
int_rate  :  Interest Rate on the loan
issue_d  :  The month which the loan was funded
last_credit_pull_d  :  The most recent month LC pulled credit for this loan
last_fico_range_high  :  The upper boundary range the borrower’s last FICO pulled belongs to.
last_fico_range_low  :  The lower boundary range the borrower’s last FICO pulled belongs to.
last_pymnt_amnt  :  Last total payment amount received
last_pymnt_d  :  Last month payment was received
loan_amnt  :  The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
loan_status  :  Current status of the loan
max_bal_bc  :  Maximum current balance owed on all revolving accounts
member_id  :  A unique LC assigned Id for the borrower member.
mo_sin_old_il_acct  :  Months since oldest bank installment account opened
mo_sin_old_rev_tl_op  :  Months since oldest revolving account opened
mo_sin_rcnt_rev_tl_op  :  Months since most recent revolving account opened
mo_sin_rcnt_tl  :  Months since most recent account opened
mort_acc  :  Number of mortgage accounts.
mths_since_last_delinq  :  The number of months since the borrower's last delinquency.
mths_since_last_major_derog  :  Months since most recent 90-day or worse rating
mths_since_last_record  :  The number of months since the last public record.
mths_since_rcnt_il  :  Months since most recent installment accounts opened
mths_since_recent_bc  :  Months since most recent bankcard account opened.
mths_since_recent_bc_dlq  :  Months since most recent bankcard delinquency
mths_since_recent_inq  :  Months since most recent inquiry.
mths_since_recent_revol_delinq  :  Months since most recent revolving delinquency.
next_pymnt_d  :  Next scheduled payment date
num_accts_ever_120_pd  :  Number of accounts ever 120 or more days past due
num_actv_bc_tl  :  Number of currently active bankcard accounts
num_actv_rev_tl  :  Number of currently active revolving trades
num_bc_sats  :  Number of satisfactory bankcard accounts
num_bc_tl  :  Number of bankcard accounts
num_il_tl  :  Number of installment accounts
num_op_rev_tl  :  Number of open revolving accounts
num_rev_accts  :  Number of revolving accounts
num_rev_tl_bal_gt_0  :  Number of revolving trades with balance >0
num_sats  :  Number of satisfactory accounts
num_tl_120dpd_2m  :  Number of accounts currently 120 days past due (updated in past 2 months)
num_tl_30dpd  :  Number of accounts currently 30 days past due (updated in past 2 months)
num_tl_90g_dpd_24m  :  Number of accounts 90 or more days past due in last 24 months
num_tl_op_past_12m  :  Number of accounts opened in past 12 months
open_acc  :  The number of open credit lines in the borrower's credit file.
open_acc_6m  :  Number of open trades in last 6 months
open_il_12m  :  Number of installment accounts opened in past 12 months
open_il_24m  :  Number of installment accounts opened in past 24 months
open_il_6m  :  Number of currently active installment trades
open_rv_12m  :  Number of revolving trades opened in past 12 months
open_rv_24m  :  Number of revolving trades opened in past 24 months
out_prncp  :  Remaining outstanding principal for total amount funded
out_prncp_inv  :  Remaining outstanding principal for portion of total amount funded by investors
pct_tl_nvr_dlq  :  Percent of trades never delinquent
percent_bc_gt_75  :  Percentage of all bankcard accounts > 75% of limit.
policy_code  :  publicly available policy_code=1
new products not publicly available policy_code=2
pub_rec  :  Number of derogatory public records
pub_rec_bankruptcies  :  Number of public record bankruptcies
purpose  :  A category provided by the borrower for the loan request.
pymnt_plan  :  Indicates if a payment plan has been put in place for the loan
recoveries  :  post charge off gross recovery
revol_bal  :  Total credit revolving balance
revol_util  :  Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
sub_grade  :  LC assigned loan subgrade
tax_liens  :  Number of tax liens
term  :  The number of payments on the loan. Values are in months and can be either 36 or 60.
title  :  The loan title provided by the borrower
tot_coll_amt  :  Total collection amounts ever owed
tot_cur_bal  :  Total current balance of all accounts
tot_hi_cred_lim  :  Total high credit/credit limit
total_acc  :  The total number of credit lines currently in the borrower's credit file
total_bal_ex_mort  :  Total credit balance excluding mortgage
total_bal_il  :  Total current balance of all installment accounts
total_bc_limit  :  Total bankcard high credit/credit limit
total_cu_tl  :  Number of finance trades
total_il_high_credit_limit  :  Total installment high credit/credit limit
total_pymnt  :  Payments received to date for total amount funded
total_pymnt_inv  :  Payments received to date for portion of total amount funded by investors
total_rec_int  :  Interest received to date
total_rec_late_fee  :  Late fees received to date
total_rec_prncp  :  Principal received to date
total_rev_hi_lim    :  Total revolving high credit/credit limit
url  :  URL for the LC page with listing data.
verification_status  :  Indicates if income was verified by LC, not verified, or if the income source was verified
verified_status_joint  :  Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
zip_code  :  The first 3 numbers of the zip code provided by the borrower in the loan application.
nan  :  nan
nan  :  * Employer Title replaces Employer Name for all loans listed after 9/23/2013

### Loading Dataset

In [4]:
loan_df = pd.read_csv('dataset/lending_club_loans.csv', skiprows=1, low_memory=False)

In [5]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
loan_df.shape

(42538, 115)

# Data Preparation

### Missing Values

In [59]:
clean_df = loan_df.copy()

In [60]:
clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [61]:
clean_df.isna().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
                              ...
tax_liens                       108
tot_hi_cred_lim               42538
total_bal_ex_mort             42538
total_bc_limit                42538
total_il_high_credit_limit    42538
Length: 115, dtype: int64

In [62]:
null_cols = []
for cols in clean_df:
    if clean_df[cols].isna().sum() > 38000:
        null_cols.append(cols)

In [63]:
len(null_cols)

56

In [64]:
clean_df[null_cols]

,mths_since_last_record,next_pymnt_d,mths_since_last_major_derog,annual_inc_joint,dti_joint,verification_status_joint,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,...,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Oct-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
clean_df.drop(columns=null_cols, axis=1, inplace=True)

In [66]:
clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [67]:
clean_df.isna().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
term                              3
int_rate                          3
installment                       3
grade                             3
sub_grade                         3
emp_title                      2629
emp_length                     1115
home_ownership                    3
annual_inc                        7
verification_status               3
issue_d                           3
loan_status                       3
pymnt_plan                        3
url                               3
desc                          13296
purpose                           3
title                            16
zip_code                          3
addr_state                        3
dti                               3
delinq_2yrs                      32
earliest_cr_line                 32
fico_range_low                    3
fico_range_high                   3
inq_last_6mths                   32
mths_since_last_delinq        26929
open_acc                         32
pub_rec                          32
revol_bal                         3
revol_util                       93
total_acc                        32
initial_list_status               3
out_prncp                         3
out_prncp_inv                     3
total_pymnt                       3
total_pymnt_inv                   3
total_rec_prncp                   3
total_rec_int                     3
total_rec_late_fee                3
recoveries                        3
collection_recovery_fee           3
last_pymnt_d                     86
last_pymnt_amnt                   3
last_credit_pull_d                7
last_fico_range_high              3
last_fico_range_low               3
collections_12_mths_ex_med      148
policy_code                       3
application_type                  3
acc_now_delinq                   32
chargeoff_within_12_mths        148
delinq_amnt                      32
pub_rec_bankruptcies           1368
tax_liens                       108
dtype: int64

In [68]:
clean_df[['emp_title','emp_length','desc','mths_since_last_delinq','pub_rec_bankruptcies']]

,emp_title,emp_length,desc,mths_since_last_delinq,pub_rec_bankruptcies
0,NaN,10+ years,Borrower added on 12/22/11 > I need to upgra...,NaN,0.0
1,Ryder,< 1 year,Borrower added on 12/22/11 > I plan to use t...,NaN,0.0
2,NaN,10+ years,NaN,NaN,0.0
3,AIR RESOURCES BOARD,10+ years,Borrower added on 12/21/11 > to pay for prop...,35.0,0.0
4,University Medical Group,1 year,Borrower added on 12/21/11 > I plan on combi...,38.0,0.0
...,...,...,...,...,...
42533,NaN,< 1 year,"I need to pay $2,100 for fixing my Volvo :) A...",NaN,NaN
42534,NaN,< 1 year,"Hi, I'm buying a used car. Anybody on faceb...",NaN,NaN
42535,Homemaker,10+ years,I need to make several improvements around the...,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN

In [69]:
clean_df['emp_title'].value_counts()

US Army                  139
Bank of America          115
IBM                       72
AT&T                      61
Kaiser Permanente         61
                        ...
encore rehabilitation      1
Insight Companies Inc      1
Maryland                   1
Lowe's Companies           1
yellow cab com.            1
Name: emp_title, Length: 30658, dtype: int64

In [70]:
clean_df['emp_length'].value_counts()

10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

In [71]:
clean_df['desc']

0          Borrower added on 12/22/11 > I need to upgra...
1          Borrower added on 12/22/11 > I plan to use t...
2                                                      NaN
3          Borrower added on 12/21/11 > to pay for prop...
4          Borrower added on 12/21/11 > I plan on combi...
                               ...
42533    I need to pay $2,100 for fixing my Volvo :)  A...
42534    Hi,   I'm buying  a used car. Anybody on faceb...
42535    I need to make several improvements around the...
42536                                                  NaN
42537                                                  NaN
Name: desc, Length: 42538, dtype: object

In [72]:
clean_df['mths_since_last_delinq'].isna().sum()/clean_df.shape[0]

0.6330575015280455

In [73]:
clean_df['pub_rec_bankruptcies'].value_counts()

0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64

In [74]:
clean_df['title'].value_counts()

Debt Consolidation                 2259
Debt Consolidation Loan            1760
Personal Loan                       708
Consolidation                       547
debt consolidation                  532
                                   ...
Consolidation2011                     1
Relief for a single parent loan       1
Pay debts                             1
Denise                                1
solidgold                             1
Name: title, Length: 21264, dtype: int64

In [75]:
clean_df.dropna(subset=['emp_length'], axis=0, inplace=True)

In [76]:
clean_df.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      1571
emp_length                        0
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12834
purpose                           0
title                            12
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
fico_range_low                    0
fico_range_high                   0
inq_last_6mths                   29
mths_since_last_delinq        26169
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                       87
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     78
last_pymnt_amnt                   0
last_credit_pull_d                4
last_fico_range_high              0
last_fico_range_low               0
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
chargeoff_within_12_mths        145
delinq_amnt                      29
pub_rec_bankruptcies           1365
tax_liens                       105
dtype: int64

In [77]:
clean_df['url']

0        https://lendingclub.com/browse/loanDetail.acti...
1        https://lendingclub.com/browse/loanDetail.acti...
2        https://lendingclub.com/browse/loanDetail.acti...
3        https://lendingclub.com/browse/loanDetail.acti...
4        https://lendingclub.com/browse/loanDetail.acti...
                               ...
42531    https://lendingclub.com/browse/loanDetail.acti...
42532    https://lendingclub.com/browse/loanDetail.acti...
42533    https://lendingclub.com/browse/loanDetail.acti...
42534    https://lendingclub.com/browse/loanDetail.acti...
42535    https://lendingclub.com/browse/loanDetail.acti...
Name: url, Length: 41423, dtype: object

In [78]:
clean_df.drop(columns=['emp_title','desc','mths_since_last_delinq'], axis=1, inplace=True)

In [79]:
clean_df.isna().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_length                       0
home_ownership                   0
annual_inc                       4
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           12
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                     29
earliest_cr_line                29
fico_range_low                   0
fico_range_high                  0
inq_last_6mths                  29
open_acc                        29
pub_rec                         29
revol_bal                        0
revol_util                      87
total_acc                       29
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    78
last_pymnt_amnt                  0
last_credit_pull_d               4
last_fico_range_high             0
last_fico_range_low              0
collections_12_mths_ex_med     145
policy_code                      0
application_type                 0
acc_now_delinq                  29
chargeoff_within_12_mths       145
delinq_amnt                     29
pub_rec_bankruptcies          1365
tax_liens                      105
dtype: int64

In [80]:
clean_df.dropna(axis=0, inplace=True)

In [81]:
clean_df.isna().sum()

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
purpose                       0
title                         0
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
fico_range_low                0
fico_range_high               0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                  0
last_pymnt_amnt               0
last_credit_pull_d            0
last_fico_range_high          0
last_fico_range_low           0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

In [82]:
clean_df.shape

(39913, 56)

In [83]:
clean_df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.000000,36 months,10.65%,162.87,B,B2,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.000000,60 months,15.27%,59.83,C,C4,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.000000,36 months,15.96%,84.33,C,C5,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.000000,36 months,13.49%,339.31,C,C1,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.000000,60 months,12.69%,67.79,B,B5,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42313,150070,150059.0,10000.0,10000.0,149.994976,36 months,10.91%,326.97,C,C3,...,569.0,565.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,1.0,0.0
42369,137757,137499.0,10475.0,10475.0,3174.995847,36 months,17.54%,376.29,G,G4,...,724.0,720.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
42370,137749,137410.0,10475.0,10475.0,2925.000000,36 months,14.38%,359.95,E,E4,...,539.0,535.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
42371,136976,136970.0,20425.0,8500.0,1849.998917,36 months,15.96%,298.67,F,F4,...,609.0,605.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,1.0,0.0
42386,133891,133888.0,4400.0,4400.0,1200.000000,36 months,17.86%,158.77,G,G5,...,734.0,730.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,1.0,0.0