In [1]:
import numpy as np
import pandas as pd

In [45]:
desc_df = pd.read_csv('dataset/LCDataDictionary.csv')

In [46]:
desc_df

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [19]:
loan_df = pd.read_csv('dataset/lending_club_loans.csv', skiprows=1, low_memory=False)

In [24]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [21]:
loan_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=115)

In [22]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 115 entries, id to total_il_high_credit_limit
dtypes: float64(90), object(25)
memory usage: 37.3+ MB

In [28]:
for cols in loan_df:
    print(cols,':',loan_df[cols].dtype)

id : object
member_id : float64
loan_amnt : float64
funded_amnt : float64
funded_amnt_inv : float64
term : object
int_rate : object
installment : float64
grade : object
sub_grade : object
emp_title : object
emp_length : object
home_ownership : object
annual_inc : float64
verification_status : object
issue_d : object
loan_status : object
pymnt_plan : object
url : object
desc : object
purpose : object
title : object
zip_code : object
addr_state : object
dti : float64
delinq_2yrs : float64
earliest_cr_line : object
fico_range_low : float64
fico_range_high : float64
inq_last_6mths : float64
mths_since_last_delinq : float64
mths_since_last_record : float64
open_acc : float64
pub_rec : float64
revol_bal : float64
revol_util : object
total_acc : float64
initial_list_status : object
out_prncp : float64
out_prncp_inv : float64
total_pymnt : float64
total_pymnt_inv : float64
total_rec_prncp : float64
total_rec_int : float64
total_rec_late_fee : float64
recoveries : float64
collection_recovery_fee : float64
last_pymnt_d : object
last_pymnt_amnt : float64
next_pymnt_d : object
last_credit_pull_d : object
last_fico_range_high : float64
last_fico_range_low : float64
collections_12_mths_ex_med : float64
mths_since_last_major_derog : float64
policy_code : float64
application_type : object
annual_inc_joint : float64
dti_joint : float64
verification_status_joint : float64
acc_now_delinq : float64
tot_coll_amt : float64
tot_cur_bal : float64
open_acc_6m : float64
open_il_6m : float64
open_il_12m : float64
open_il_24m : float64
mths_since_rcnt_il : float64
total_bal_il : float64
il_util : float64
open_rv_12m : float64
open_rv_24m : float64
max_bal_bc : float64
all_util : float64
total_rev_hi_lim : float64
inq_fi : float64
total_cu_tl : float64
inq_last_12m : float64
acc_open_past_24mths : float64
avg_cur_bal : float64
bc_open_to_buy : float64
bc_util : float64
chargeoff_within_12_mths : float64
delinq_amnt : float64
mo_sin_old_il_acct : float64
mo_sin_old_rev_tl_op : float64
mo_sin_rcnt_rev_tl_op : float64
mo_sin_rcnt_tl : float64
mort_acc : float64
mths_since_recent_bc : float64
mths_since_recent_bc_dlq : float64
mths_since_recent_inq : float64
mths_since_recent_revol_delinq : float64
num_accts_ever_120_pd : float64
num_actv_bc_tl : float64
num_actv_rev_tl : float64
num_bc_sats : float64
num_bc_tl : float64
num_il_tl : float64
num_op_rev_tl : float64
num_rev_accts : float64
num_rev_tl_bal_gt_0 : float64
num_sats : float64
num_tl_120dpd_2m : float64
num_tl_30dpd : float64
num_tl_90g_dpd_24m : float64
num_tl_op_past_12m : float64
pct_tl_nvr_dlq : float64
percent_bc_gt_75 : float64
pub_rec_bankruptcies : float64
tax_liens : float64
tot_hi_cred_lim : float64
total_bal_ex_mort : float64
total_bc_limit : float64
total_il_high_credit_limit : float64

In [29]:
for cols in loan_df:
    print(cols,':',loan_df[cols].notnull().sum(),'notnull')

id : 42538 notnull
member_id : 42535 notnull
loan_amnt : 42535 notnull
funded_amnt : 42535 notnull
funded_amnt_inv : 42535 notnull
term : 42535 notnull
int_rate : 42535 notnull
installment : 42535 notnull
grade : 42535 notnull
sub_grade : 42535 notnull
emp_title : 39909 notnull
emp_length : 41423 notnull
home_ownership : 42535 notnull
annual_inc : 42531 notnull
verification_status : 42535 notnull
issue_d : 42535 notnull
loan_status : 42535 notnull
pymnt_plan : 42535 notnull
url : 42535 notnull
desc : 29242 notnull
purpose : 42535 notnull
title : 42522 notnull
zip_code : 42535 notnull
addr_state : 42535 notnull
dti : 42535 notnull
delinq_2yrs : 42506 notnull
earliest_cr_line : 42506 notnull
fico_range_low : 42535 notnull
fico_range_high : 42535 notnull
inq_last_6mths : 42506 notnull
mths_since_last_delinq : 15609 notnull
mths_since_last_record : 3651 notnull
open_acc : 42506 notnull
pub_rec : 42506 notnull
revol_bal : 42535 notnull
revol_util : 42445 notnull
total_acc : 42506 notnull
initial_list_status : 42535 notnull
out_prncp : 42535 notnull
out_prncp_inv : 42535 notnull
total_pymnt : 42535 notnull
total_pymnt_inv : 42535 notnull
total_rec_prncp : 42535 notnull
total_rec_int : 42535 notnull
total_rec_late_fee : 42535 notnull
recoveries : 42535 notnull
collection_recovery_fee : 42535 notnull
last_pymnt_d : 42452 notnull
last_pymnt_amnt : 42535 notnull
next_pymnt_d : 3296 notnull
last_credit_pull_d : 42531 notnull
last_fico_range_high : 42535 notnull
last_fico_range_low : 42535 notnull
collections_12_mths_ex_med : 42390 notnull
mths_since_last_major_derog : 0 notnull
policy_code : 42535 notnull
application_type : 42535 notnull
annual_inc_joint : 0 notnull
dti_joint : 0 notnull
verification_status_joint : 0 notnull
acc_now_delinq : 42506 notnull
tot_coll_amt : 0 notnull
tot_cur_bal : 0 notnull
open_acc_6m : 0 notnull
open_il_6m : 0 notnull
open_il_12m : 0 notnull
open_il_24m : 0 notnull
mths_since_rcnt_il : 0 notnull
total_bal_il : 0 notnull
il_util : 0 notnull
open_rv_12m : 0 notnull
open_rv_24m : 0 notnull
max_bal_bc : 0 notnull
all_util : 0 notnull
total_rev_hi_lim : 0 notnull
inq_fi : 0 notnull
total_cu_tl : 0 notnull
inq_last_12m : 0 notnull
acc_open_past_24mths : 0 notnull
avg_cur_bal : 0 notnull
bc_open_to_buy : 0 notnull
bc_util : 0 notnull
chargeoff_within_12_mths : 42390 notnull
delinq_amnt : 42506 notnull
mo_sin_old_il_acct : 0 notnull
mo_sin_old_rev_tl_op : 0 notnull
mo_sin_rcnt_rev_tl_op : 0 notnull
mo_sin_rcnt_tl : 0 notnull
mort_acc : 0 notnull
mths_since_recent_bc : 0 notnull
mths_since_recent_bc_dlq : 0 notnull
mths_since_recent_inq : 0 notnull
mths_since_recent_revol_delinq : 0 notnull
num_accts_ever_120_pd : 0 notnull
num_actv_bc_tl : 0 notnull
num_actv_rev_tl : 0 notnull
num_bc_sats : 0 notnull
num_bc_tl : 0 notnull
num_il_tl : 0 notnull
num_op_rev_tl : 0 notnull
num_rev_accts : 0 notnull
num_rev_tl_bal_gt_0 : 0 notnull
num_sats : 0 notnull
num_tl_120dpd_2m : 0 notnull
num_tl_30dpd : 0 notnull
num_tl_90g_dpd_24m : 0 notnull
num_tl_op_past_12m : 0 notnull
pct_tl_nvr_dlq : 0 notnull
percent_bc_gt_75 : 0 notnull
pub_rec_bankruptcies : 41170 notnull
tax_liens : 42430 notnull
tot_hi_cred_lim : 0 notnull
total_bal_ex_mort : 0 notnull
total_bc_limit : 0 notnull
total_il_high_credit_limit : 0 notnull

In [30]:
for cols in loan_df:
    print(cols,':',loan_df[cols].isnull().sum(),'null values')

id : 0 null values
member_id : 3 null values
loan_amnt : 3 null values
funded_amnt : 3 null values
funded_amnt_inv : 3 null values
term : 3 null values
int_rate : 3 null values
installment : 3 null values
grade : 3 null values
sub_grade : 3 null values
emp_title : 2629 null values
emp_length : 1115 null values
home_ownership : 3 null values
annual_inc : 7 null values
verification_status : 3 null values
issue_d : 3 null values
loan_status : 3 null values
pymnt_plan : 3 null values
url : 3 null values
desc : 13296 null values
purpose : 3 null values
title : 16 null values
zip_code : 3 null values
addr_state : 3 null values
dti : 3 null values
delinq_2yrs : 32 null values
earliest_cr_line : 32 null values
fico_range_low : 3 null values
fico_range_high : 3 null values
inq_last_6mths : 32 null values
mths_since_last_delinq : 26929 null values
mths_since_last_record : 38887 null values
open_acc : 32 null values
pub_rec : 32 null values
revol_bal : 3 null values
revol_util : 93 null values
total_acc : 32 null values
initial_list_status : 3 null values
out_prncp : 3 null values
out_prncp_inv : 3 null values
total_pymnt : 3 null values
total_pymnt_inv : 3 null values
total_rec_prncp : 3 null values
total_rec_int : 3 null values
total_rec_late_fee : 3 null values
recoveries : 3 null values
collection_recovery_fee : 3 null values
last_pymnt_d : 86 null values
last_pymnt_amnt : 3 null values
next_pymnt_d : 39242 null values
last_credit_pull_d : 7 null values
last_fico_range_high : 3 null values
last_fico_range_low : 3 null values
collections_12_mths_ex_med : 148 null values
mths_since_last_major_derog : 42538 null values
policy_code : 3 null values
application_type : 3 null values
annual_inc_joint : 42538 null values
dti_joint : 42538 null values
verification_status_joint : 42538 null values
acc_now_delinq : 32 null values
tot_coll_amt : 42538 null values
tot_cur_bal : 42538 null values
open_acc_6m : 42538 null values
open_il_6m : 42538 null values
open_il_12m : 42538 null values
open_il_24m : 42538 null values
mths_since_rcnt_il : 42538 null values
total_bal_il : 42538 null values
il_util : 42538 null values
open_rv_12m : 42538 null values
open_rv_24m : 42538 null values
max_bal_bc : 42538 null values
all_util : 42538 null values
total_rev_hi_lim : 42538 null values
inq_fi : 42538 null values
total_cu_tl : 42538 null values
inq_last_12m : 42538 null values
acc_open_past_24mths : 42538 null values
avg_cur_bal : 42538 null values
bc_open_to_buy : 42538 null values
bc_util : 42538 null values
chargeoff_within_12_mths : 148 null values
delinq_amnt : 32 null values
mo_sin_old_il_acct : 42538 null values
mo_sin_old_rev_tl_op : 42538 null values
mo_sin_rcnt_rev_tl_op : 42538 null values
mo_sin_rcnt_tl : 42538 null values
mort_acc : 42538 null values
mths_since_recent_bc : 42538 null values
mths_since_recent_bc_dlq : 42538 null values
mths_since_recent_inq : 42538 null values
mths_since_recent_revol_delinq : 42538 null values
num_accts_ever_120_pd : 42538 null values
num_actv_bc_tl : 42538 null values
num_actv_rev_tl : 42538 null values
num_bc_sats : 42538 null values
num_bc_tl : 42538 null values
num_il_tl : 42538 null values
num_op_rev_tl : 42538 null values
num_rev_accts : 42538 null values
num_rev_tl_bal_gt_0 : 42538 null values
num_sats : 42538 null values
num_tl_120dpd_2m : 42538 null values
num_tl_30dpd : 42538 null values
num_tl_90g_dpd_24m : 42538 null values
num_tl_op_past_12m : 42538 null values
pct_tl_nvr_dlq : 42538 null values
percent_bc_gt_75 : 42538 null values
pub_rec_bankruptcies : 1368 null values
tax_liens : 108 null values
tot_hi_cred_lim : 42538 null values
total_bal_ex_mort : 42538 null values
total_bc_limit : 42538 null values
total_il_high_credit_limit : 42538 null values

In [31]:
loan_df.shape

(42538, 115)

In [34]:
null_cols = []
for cols in loan_df:
    if loan_df[cols].isnull().sum() == loan_df.shape[0]:
        null_cols.append(cols)
        print(cols,':',loan_df[cols].isnull().sum(),'null values')

mths_since_last_major_derog : 42538 null values
annual_inc_joint : 42538 null values
dti_joint : 42538 null values
verification_status_joint : 42538 null values
tot_coll_amt : 42538 null values
tot_cur_bal : 42538 null values
open_acc_6m : 42538 null values
open_il_6m : 42538 null values
open_il_12m : 42538 null values
open_il_24m : 42538 null values
mths_since_rcnt_il : 42538 null values
total_bal_il : 42538 null values
il_util : 42538 null values
open_rv_12m : 42538 null values
open_rv_24m : 42538 null values
max_bal_bc : 42538 null values
all_util : 42538 null values
total_rev_hi_lim : 42538 null values
inq_fi : 42538 null values
total_cu_tl : 42538 null values
inq_last_12m : 42538 null values
acc_open_past_24mths : 42538 null values
avg_cur_bal : 42538 null values
bc_open_to_buy : 42538 null values
bc_util : 42538 null values
mo_sin_old_il_acct : 42538 null values
mo_sin_old_rev_tl_op : 42538 null values
mo_sin_rcnt_rev_tl_op : 42538 null values
mo_sin_rcnt_tl : 42538 null values
mort_acc : 42538 null values
mths_since_recent_bc : 42538 null values
mths_since_recent_bc_dlq : 42538 null values
mths_since_recent_inq : 42538 null values
mths_since_recent_revol_delinq : 42538 null values
num_accts_ever_120_pd : 42538 null values
num_actv_bc_tl : 42538 null values
num_actv_rev_tl : 42538 null values
num_bc_sats : 42538 null values
num_bc_tl : 42538 null values
num_il_tl : 42538 null values
num_op_rev_tl : 42538 null values
num_rev_accts : 42538 null values
num_rev_tl_bal_gt_0 : 42538 null values
num_sats : 42538 null values
num_tl_120dpd_2m : 42538 null values
num_tl_30dpd : 42538 null values
num_tl_90g_dpd_24m : 42538 null values
num_tl_op_past_12m : 42538 null values
pct_tl_nvr_dlq : 42538 null values
percent_bc_gt_75 : 42538 null values
tot_hi_cred_lim : 42538 null values
total_bal_ex_mort : 42538 null values
total_bc_limit : 42538 null values
total_il_high_credit_limit : 42538 null values

In [36]:
len(null_cols)

54

In [38]:
len(loan_df.columns)

115