In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data Description

In [2]:
desc_df = pd.read_csv('dataset/LCDataDictionary.csv')

In [3]:
for i in range(desc_df.shape[0]):
    print(desc_df.loc[i]['LoanStatNew'],' : ',desc_df.loc[i]['Description'])

acc_now_delinq  :  The number of accounts on which the borrower is now delinquent.
acc_open_past_24mths  :  Number of trades opened in past 24 months.
addr_state  :  The state provided by the borrower in the loan application
all_util  :  Balance to credit limit on all trades
annual_inc  :  The self-reported annual income provided by the borrower during registration.
annual_inc_joint  :  The combined self-reported annual income provided by the co-borrowers during registration
application_type  :  Indicates whether the loan is an individual application or a joint application with two co-borrowers
avg_cur_bal  :  Average current balance of all accounts
bc_open_to_buy  :  Total open to buy on revolving bankcards.
bc_util  :  Ratio of total current balance to high credit/credit limit for all bankcard accounts.
chargeoff_within_12_mths  :  Number of charge-offs within 12 months
collection_recovery_fee  :  post charge off collection fee
collections_12_mths_ex_med  :  Number of collections in 12 months excluding medical collections
delinq_2yrs  :  The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
delinq_amnt  :  The past-due amount owed for the accounts on which the borrower is now delinquent.
desc  :  Loan description provided by the borrower
dti  :  A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
dti_joint  :  A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
earliest_cr_line  :  The month the borrower's earliest reported credit line was opened
emp_length  :  Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
emp_title  :  The job title supplied by the Borrower when applying for the loan.*
fico_range_high  :  The upper boundary range the borrower’s FICO at loan origination belongs to.
fico_range_low  :  The lower boundary range the borrower’s FICO at loan origination belongs to.
funded_amnt  :  The total amount committed to that loan at that point in time.
funded_amnt_inv  :  The total amount committed by investors for that loan at that point in time.
grade  :  LC assigned loan grade
home_ownership  :  The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
id  :  A unique LC assigned ID for the loan listing.
il_util  :  Ratio of total current balance to high credit/credit limit on all install acct
initial_list_status  :  The initial listing status of the loan. Possible values are – W, F
inq_fi  :  Number of personal finance inquiries
inq_last_12m  :  Number of credit inquiries in past 12 months
inq_last_6mths  :  The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
installment  :  The monthly payment owed by the borrower if the loan originates.
int_rate  :  Interest Rate on the loan
issue_d  :  The month which the loan was funded
last_credit_pull_d  :  The most recent month LC pulled credit for this loan
last_fico_range_high  :  The upper boundary range the borrower’s last FICO pulled belongs to.
last_fico_range_low  :  The lower boundary range the borrower’s last FICO pulled belongs to.
last_pymnt_amnt  :  Last total payment amount received
last_pymnt_d  :  Last month payment was received
loan_amnt  :  The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
loan_status  :  Current status of the loan
max_bal_bc  :  Maximum current balance owed on all revolving accounts
member_id  :  A unique LC assigned Id for the borrower member.
mo_sin_old_il_acct  :  Months since oldest bank installment account opened
mo_sin_old_rev_tl_op  :  Months since oldest revolving account opened
mo_sin_rcnt_rev_tl_op  :  Months since most recent revolving account opened
mo_sin_rcnt_tl  :  Months since most recent account opened
mort_acc  :  Number of mortgage accounts.
mths_since_last_delinq  :  The number of months since the borrower's last delinquency.
mths_since_last_major_derog  :  Months since most recent 90-day or worse rating
mths_since_last_record  :  The number of months since the last public record.
mths_since_rcnt_il  :  Months since most recent installment accounts opened
mths_since_recent_bc  :  Months since most recent bankcard account opened.
mths_since_recent_bc_dlq  :  Months since most recent bankcard delinquency
mths_since_recent_inq  :  Months since most recent inquiry.
mths_since_recent_revol_delinq  :  Months since most recent revolving delinquency.
next_pymnt_d  :  Next scheduled payment date
num_accts_ever_120_pd  :  Number of accounts ever 120 or more days past due
num_actv_bc_tl  :  Number of currently active bankcard accounts
num_actv_rev_tl  :  Number of currently active revolving trades
num_bc_sats  :  Number of satisfactory bankcard accounts
num_bc_tl  :  Number of bankcard accounts
num_il_tl  :  Number of installment accounts
num_op_rev_tl  :  Number of open revolving accounts
num_rev_accts  :  Number of revolving accounts
num_rev_tl_bal_gt_0  :  Number of revolving trades with balance >0
num_sats  :  Number of satisfactory accounts
num_tl_120dpd_2m  :  Number of accounts currently 120 days past due (updated in past 2 months)
num_tl_30dpd  :  Number of accounts currently 30 days past due (updated in past 2 months)
num_tl_90g_dpd_24m  :  Number of accounts 90 or more days past due in last 24 months
num_tl_op_past_12m  :  Number of accounts opened in past 12 months
open_acc  :  The number of open credit lines in the borrower's credit file.
open_acc_6m  :  Number of open trades in last 6 months
open_il_12m  :  Number of installment accounts opened in past 12 months
open_il_24m  :  Number of installment accounts opened in past 24 months
open_il_6m  :  Number of currently active installment trades
open_rv_12m  :  Number of revolving trades opened in past 12 months
open_rv_24m  :  Number of revolving trades opened in past 24 months
out_prncp  :  Remaining outstanding principal for total amount funded
out_prncp_inv  :  Remaining outstanding principal for portion of total amount funded by investors
pct_tl_nvr_dlq  :  Percent of trades never delinquent
percent_bc_gt_75  :  Percentage of all bankcard accounts > 75% of limit.
policy_code  :  publicly available policy_code=1
new products not publicly available policy_code=2
pub_rec  :  Number of derogatory public records
pub_rec_bankruptcies  :  Number of public record bankruptcies
purpose  :  A category provided by the borrower for the loan request.
pymnt_plan  :  Indicates if a payment plan has been put in place for the loan
recoveries  :  post charge off gross recovery
revol_bal  :  Total credit revolving balance
revol_util  :  Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
sub_grade  :  LC assigned loan subgrade
tax_liens  :  Number of tax liens
term  :  The number of payments on the loan. Values are in months and can be either 36 or 60.
title  :  The loan title provided by the borrower
tot_coll_amt  :  Total collection amounts ever owed
tot_cur_bal  :  Total current balance of all accounts
tot_hi_cred_lim  :  Total high credit/credit limit
total_acc  :  The total number of credit lines currently in the borrower's credit file
total_bal_ex_mort  :  Total credit balance excluding mortgage
total_bal_il  :  Total current balance of all installment accounts
total_bc_limit  :  Total bankcard high credit/credit limit
total_cu_tl  :  Number of finance trades
total_il_high_credit_limit  :  Total installment high credit/credit limit
total_pymnt  :  Payments received to date for total amount funded
total_pymnt_inv  :  Payments received to date for portion of total amount funded by investors
total_rec_int  :  Interest received to date
total_rec_late_fee  :  Late fees received to date
total_rec_prncp  :  Principal received to date
total_rev_hi_lim    :  Total revolving high credit/credit limit
url  :  URL for the LC page with listing data.
verification_status  :  Indicates if income was verified by LC, not verified, or if the income source was verified
verified_status_joint  :  Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
zip_code  :  The first 3 numbers of the zip code provided by the borrower in the loan application.
nan  :  nan
nan  :  * Employer Title replaces Employer Name for all loans listed after 9/23/2013

### Loading Dataset

In [4]:
loan_df = pd.read_csv('dataset/lending_club_loans.csv', skiprows=1, low_memory=False)

In [5]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [252]:
loan_df.shape

(42538, 115)

# Data Preparation

### Missing Values

In [492]:
clean_df = loan_df.copy()

In [493]:
clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [494]:
# checking total null values in each columns

for cols in clean_df:
    print(clean_df[cols].isna().sum())

0
3
3
3
3
3
3
3
3
3
2629
1115
3
7
3
3
3
3
3
13296
3
16
3
3
3
32
32
3
3
32
26929
38887
32
32
3
93
32
3
3
3
3
3
3
3
3
3
3
86
3
39242
7
3
3
148
42538
3
3
42538
42538
42538
32
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
148
32
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
42538
1368
108
42538
42538
42538
42538

In [495]:
# columns, where null values are more than 38000

null_cols = []
for cols in clean_df:
    if clean_df[cols].isna().sum() > 38000:
        null_cols.append(cols)

In [496]:
len(null_cols)

56

In [497]:
clean_df[null_cols]

,mths_since_last_record,next_pymnt_d,mths_since_last_major_derog,annual_inc_joint,dti_joint,verification_status_joint,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,...,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Oct-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,Jul-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [498]:
clean_df.drop(columns=null_cols, axis=1, inplace=True)

In [499]:
clean_df.shape

(42538, 59)

In [500]:
clean_df.isna().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
term                              3
int_rate                          3
installment                       3
grade                             3
sub_grade                         3
emp_title                      2629
emp_length                     1115
home_ownership                    3
annual_inc                        7
verification_status               3
issue_d                           3
loan_status                       3
pymnt_plan                        3
url                               3
desc                          13296
purpose                           3
title                            16
zip_code                          3
addr_state                        3
dti                               3
delinq_2yrs                      32
earliest_cr_line                 32
fico_range_low                    3
fico_range_high                   3
inq_last_6mths                   32
mths_since_last_delinq        26929
open_acc                         32
pub_rec                          32
revol_bal                         3
revol_util                       93
total_acc                        32
initial_list_status               3
out_prncp                         3
out_prncp_inv                     3
total_pymnt                       3
total_pymnt_inv                   3
total_rec_prncp                   3
total_rec_int                     3
total_rec_late_fee                3
recoveries                        3
collection_recovery_fee           3
last_pymnt_d                     86
last_pymnt_amnt                   3
last_credit_pull_d                7
last_fico_range_high              3
last_fico_range_low               3
collections_12_mths_ex_med      148
policy_code                       3
application_type                  3
acc_now_delinq                   32
chargeoff_within_12_mths        148
delinq_amnt                      32
pub_rec_bankruptcies           1368
tax_liens                       108
dtype: int64

In [501]:
clean_df['emp_title'].value_counts()

US Army                                         139
Bank of America                                 115
IBM                                              72
Kaiser Permanente                                61
AT&T                                             61
                                               ...
North Pacific Dermatology                         1
Lowes                                             1
Deutsch inc                                       1
Richard Wolf Medical Instruments Corporation      1
ice cold air                                      1
Name: emp_title, Length: 30658, dtype: int64

In [502]:
clean_df['emp_title'].isna().sum()

2629

In [503]:
clean_df['emp_title'].fillna('Other', inplace=True)

In [504]:
clean_df['emp_title'].value_counts()

Other                                           2630
US Army                                          139
Bank of America                                  115
IBM                                               72
Kaiser Permanente                                 61
                                                ...
North Pacific Dermatology                          1
Lowes                                              1
Deutsch inc                                        1
Richard Wolf Medical Instruments Corporation       1
ice cold air                                       1
Name: emp_title, Length: 30658, dtype: int64

In [505]:
clean_df['emp_length'].value_counts()

10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

In [506]:
clean_df['emp_length'].isna().sum()

1115

In [507]:
clean_df['emp_length'].fillna('< 1 year', inplace=True)

In [508]:
clean_df['emp_length'].value_counts()

10+ years    9369
< 1 year     6177
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

In [509]:
clean_df['desc']

0          Borrower added on 12/22/11 > I need to upgra...
1          Borrower added on 12/22/11 > I plan to use t...
2                                                      NaN
3          Borrower added on 12/21/11 > to pay for prop...
4          Borrower added on 12/21/11 > I plan on combi...
                               ...
42533    I need to pay $2,100 for fixing my Volvo :)  A...
42534    Hi,   I'm buying  a used car. Anybody on faceb...
42535    I need to make several improvements around the...
42536                                                  NaN
42537                                                  NaN
Name: desc, Length: 42538, dtype: object

In [510]:
clean_df['desc'].isna().sum()

13296

In [511]:
clean_df['desc'].fillna('not filled', inplace=True)

In [512]:
clean_df.isna().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
term                              3
int_rate                          3
installment                       3
grade                             3
sub_grade                         3
emp_title                         0
emp_length                        0
home_ownership                    3
annual_inc                        7
verification_status               3
issue_d                           3
loan_status                       3
pymnt_plan                        3
url                               3
desc                              0
purpose                           3
title                            16
zip_code                          3
addr_state                        3
dti                               3
delinq_2yrs                      32
earliest_cr_line                 32
fico_range_low                    3
fico_range_high                   3
inq_last_6mths                   32
mths_since_last_delinq        26929
open_acc                         32
pub_rec                          32
revol_bal                         3
revol_util                       93
total_acc                        32
initial_list_status               3
out_prncp                         3
out_prncp_inv                     3
total_pymnt                       3
total_pymnt_inv                   3
total_rec_prncp                   3
total_rec_int                     3
total_rec_late_fee                3
recoveries                        3
collection_recovery_fee           3
last_pymnt_d                     86
last_pymnt_amnt                   3
last_credit_pull_d                7
last_fico_range_high              3
last_fico_range_low               3
collections_12_mths_ex_med      148
policy_code                       3
application_type                  3
acc_now_delinq                   32
chargeoff_within_12_mths        148
delinq_amnt                      32
pub_rec_bankruptcies           1368
tax_liens                       108
dtype: int64

In [513]:
clean_df['mths_since_last_delinq'].isna().sum()

26929

In [514]:
clean_df['mths_since_last_delinq'].isna().sum()/clean_df.shape[0]

0.6330575015280455

In [515]:
clean_df.drop(columns=['mths_since_last_delinq'], axis=1, inplace=True)

In [516]:
clean_df.isna().sum()

id                               0
member_id                        3
loan_amnt                        3
funded_amnt                      3
funded_amnt_inv                  3
term                             3
int_rate                         3
installment                      3
grade                            3
sub_grade                        3
emp_title                        0
emp_length                       0
home_ownership                   3
annual_inc                       7
verification_status              3
issue_d                          3
loan_status                      3
pymnt_plan                       3
url                              3
desc                             0
purpose                          3
title                           16
zip_code                         3
addr_state                       3
dti                              3
delinq_2yrs                     32
earliest_cr_line                32
fico_range_low                   3
fico_range_high                  3
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
revol_bal                        3
revol_util                      93
total_acc                       32
initial_list_status              3
out_prncp                        3
out_prncp_inv                    3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_prncp                  3
total_rec_int                    3
total_rec_late_fee               3
recoveries                       3
collection_recovery_fee          3
last_pymnt_d                    86
last_pymnt_amnt                  3
last_credit_pull_d               7
last_fico_range_high             3
last_fico_range_low              3
collections_12_mths_ex_med     148
policy_code                      3
application_type                 3
acc_now_delinq                  32
chargeoff_within_12_mths       148
delinq_amnt                     32
pub_rec_bankruptcies          1368
tax_liens                      108
dtype: int64

In [517]:
clean_df['pub_rec_bankruptcies'].value_counts()

0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64

In [518]:
clean_df['pub_rec_bankruptcies'].fillna(0, inplace=True)

In [519]:
clean_df.isna().sum()

id                              0
member_id                       3
loan_amnt                       3
funded_amnt                     3
funded_amnt_inv                 3
term                            3
int_rate                        3
installment                     3
grade                           3
sub_grade                       3
emp_title                       0
emp_length                      0
home_ownership                  3
annual_inc                      7
verification_status             3
issue_d                         3
loan_status                     3
pymnt_plan                      3
url                             3
desc                            0
purpose                         3
title                          16
zip_code                        3
addr_state                      3
dti                             3
delinq_2yrs                    32
earliest_cr_line               32
fico_range_low                  3
fico_range_high                 3
inq_last_6mths                 32
open_acc                       32
pub_rec                        32
revol_bal                       3
revol_util                     93
total_acc                      32
initial_list_status             3
out_prncp                       3
out_prncp_inv                   3
total_pymnt                     3
total_pymnt_inv                 3
total_rec_prncp                 3
total_rec_int                   3
total_rec_late_fee              3
recoveries                      3
collection_recovery_fee         3
last_pymnt_d                   86
last_pymnt_amnt                 3
last_credit_pull_d              7
last_fico_range_high            3
last_fico_range_low             3
collections_12_mths_ex_med    148
policy_code                     3
application_type                3
acc_now_delinq                 32
chargeoff_within_12_mths      148
delinq_amnt                    32
pub_rec_bankruptcies            0
tax_liens                     108
dtype: int64

In [520]:
clean_df['collections_12_mths_ex_med'].value_counts()

0.0    42390
Name: collections_12_mths_ex_med, dtype: int64

In [521]:
clean_df['collections_12_mths_ex_med'].fillna(0, inplace=True)

In [522]:
clean_df['chargeoff_within_12_mths'].isna().sum()

148

In [523]:
clean_df['chargeoff_within_12_mths'].value_counts()

0.0    42390
Name: chargeoff_within_12_mths, dtype: int64

In [524]:
clean_df['chargeoff_within_12_mths'].fillna(0, inplace=True)

In [525]:
clean_df['tax_liens'].value_counts()

0.0    42429
1.0        1
Name: tax_liens, dtype: int64

In [526]:
clean_df['tax_liens'].fillna(0, inplace=True)

In [527]:
clean_df.isna().sum()

id                             0
member_id                      3
loan_amnt                      3
funded_amnt                    3
funded_amnt_inv                3
term                           3
int_rate                       3
installment                    3
grade                          3
sub_grade                      3
emp_title                      0
emp_length                     0
home_ownership                 3
annual_inc                     7
verification_status            3
issue_d                        3
loan_status                    3
pymnt_plan                     3
url                            3
desc                           0
purpose                        3
title                         16
zip_code                       3
addr_state                     3
dti                            3
delinq_2yrs                   32
earliest_cr_line              32
fico_range_low                 3
fico_range_high                3
inq_last_6mths                32
open_acc                      32
pub_rec                       32
revol_bal                      3
revol_util                    93
total_acc                     32
initial_list_status            3
out_prncp                      3
out_prncp_inv                  3
total_pymnt                    3
total_pymnt_inv                3
total_rec_prncp                3
total_rec_int                  3
total_rec_late_fee             3
recoveries                     3
collection_recovery_fee        3
last_pymnt_d                  86
last_pymnt_amnt                3
last_credit_pull_d             7
last_fico_range_high           3
last_fico_range_low            3
collections_12_mths_ex_med     0
policy_code                    3
application_type               3
acc_now_delinq                32
chargeoff_within_12_mths       0
delinq_amnt                   32
pub_rec_bankruptcies           0
tax_liens                      0
dtype: int64

In [528]:
clean_df['last_pymnt_d'].value_counts()

Mar-2013    1070
Dec-2014     949
May-2013     943
Feb-2013     906
Mar-2012     893
            ...
Jun-2008      20
Mar-2008      18
Jan-2008      11
Feb-2008       8
Dec-2007       2
Name: last_pymnt_d, Length: 106, dtype: int64

In [529]:
clean_df.dropna(subset=['last_pymnt_d','last_credit_pull_d'], axis=0, inplace=True)

In [530]:
clean_df.shape

(42448, 58)

In [531]:
clean_df.isna().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     4
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
desc                           0
purpose                        0
title                         13
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                   28
earliest_cr_line              28
fico_range_low                 0
fico_range_high                0
inq_last_6mths                28
open_acc                      28
pub_rec                       28
revol_bal                      0
revol_util                    85
total_acc                     28
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                   0
last_pymnt_amnt                0
last_credit_pull_d             0
last_fico_range_high           0
last_fico_range_low            0
collections_12_mths_ex_med     0
policy_code                    0
application_type               0
acc_now_delinq                28
chargeoff_within_12_mths       0
delinq_amnt                   28
pub_rec_bankruptcies           0
tax_liens                      0
dtype: int64

In [532]:
clean_df['title'].value_counts()

Debt Consolidation                       2256
Debt Consolidation Loan                  1756
Personal Loan                             706
Consolidation                             546
debt consolidation                        532
                                         ...
Get Rid of High Interest Credit Cards       1
Need surgery/ finish paying off debt        1
paying off  credit card debt                1
CAGloan                                     1
Upgrade Apt                                 1
Name: title, Length: 21223, dtype: int64

In [533]:
clean_df['title'].fillna('Other', inplace=True)

In [534]:
clean_df.isna().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     4
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
desc                           0
purpose                        0
title                          0
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                   28
earliest_cr_line              28
fico_range_low                 0
fico_range_high                0
inq_last_6mths                28
open_acc                      28
pub_rec                       28
revol_bal                      0
revol_util                    85
total_acc                     28
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                   0
last_pymnt_amnt                0
last_credit_pull_d             0
last_fico_range_high           0
last_fico_range_low            0
collections_12_mths_ex_med     0
policy_code                    0
application_type               0
acc_now_delinq                28
chargeoff_within_12_mths       0
delinq_amnt                   28
pub_rec_bankruptcies           0
tax_liens                      0
dtype: int64

In [535]:
clean_df['delinq_2yrs'].isna().sum()

28

In [536]:
clean_df['delinq_2yrs'].value_counts()

0.0     37697
1.0      3588
2.0       769
3.0       242
4.0        71
5.0        27
6.0        13
7.0         6
8.0         3
11.0        2
9.0         1
13.0        1
Name: delinq_2yrs, dtype: int64

In [537]:
clean_df['delinq_2yrs'].fillna(0, inplace=True)

In [538]:
clean_df['earliest_cr_line']

0        Jan-1985
1        Apr-1999
2        Nov-2001
3        Feb-1996
4        Jan-1996
           ...
42531         NaN
42532         NaN
42533         NaN
42534         NaN
42535         NaN
Name: earliest_cr_line, Length: 42448, dtype: object

In [539]:
clean_df.dropna(subset=['earliest_cr_line'], axis=0, inplace=True)

In [540]:
clean_df.isna().sum()

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
desc                           0
purpose                        0
title                          0
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
fico_range_low                 0
fico_range_high                0
inq_last_6mths                 0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                    57
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_d                   0
last_pymnt_amnt                0
last_credit_pull_d             0
last_fico_range_high           0
last_fico_range_low            0
collections_12_mths_ex_med     0
policy_code                    0
application_type               0
acc_now_delinq                 0
chargeoff_within_12_mths       0
delinq_amnt                    0
pub_rec_bankruptcies           0
tax_liens                      0
dtype: int64

In [541]:
clean_df['revol_util'].value_counts()

0%        1068
40.7%       65
63%         63
0.2%        63
66.6%       62
          ...
100.6%       1
104.2%       1
60.69%       1
27.81%       1
49.63%       1
Name: revol_util, Length: 1119, dtype: int64

In [542]:
clean_df['revol_util'].fillna('0%', inplace=True)

In [543]:
clean_df.isna().sum()

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                     0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
desc                          0
purpose                       0
title                         0
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
fico_range_low                0
fico_range_high               0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                  0
last_pymnt_amnt               0
last_credit_pull_d            0
last_fico_range_high          0
last_fico_range_low           0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
chargeoff_within_12_mths      0
delinq_amnt                   0
pub_rec_bankruptcies          0
tax_liens                     0
dtype: int64

In [544]:
clean_df.reset_index(drop=True, inplace=True)

In [545]:
clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

## Data Cleaning

In [546]:
new_clean_df = clean_df.copy()

In [547]:
new_clean_df.shape

(42420, 58)

In [548]:
new_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42420 entries, 0 to 42419
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42420 non-null  object
 1   member_id                   42420 non-null  float64
 2   loan_amnt                   42420 non-null  float64
 3   funded_amnt                 42420 non-null  float64
 4   funded_amnt_inv             42420 non-null  float64
 5   term                        42420 non-null  object
 6   int_rate                    42420 non-null  object
 7   installment                 42420 non-null  float64
 8   grade                       42420 non-null  object
 9   sub_grade                   42420 non-null  object
 10  emp_title                   42420 non-null  object
 11  emp_length                  42420 non-null  object
 12  home_ownership              42420 non-null  object
 13  annual_inc                  42420 non-null  float64
 14  verification_status         42420 non-null  object
 15  issue_d                     42420 non-null  object
 16  loan_status                 42420 non-null  object
 17  pymnt_plan                  42420 non-null  object
 18  url                         42420 non-null  object
 19  desc                        42420 non-null  object
 20  purpose                     42420 non-null  object
 21  title                       42420 non-null  object
 22  zip_code                    42420 non-null  object
 23  addr_state                  42420 non-null  object
 24  dti                         42420 non-null  float64
 25  delinq_2yrs                 42420 non-null  float64
 26  earliest_cr_line            42420 non-null  object
 27  fico_range_low              42420 non-null  float64
 28  fico_range_high             42420 non-null  float64
 29  inq_last_6mths              42420 non-null  float64
 30  open_acc                    42420 non-null  float64
 31  pub_rec                     42420 non-null  float64
 32  revol_bal                   42420 non-null  float64
 33  revol_util                  42420 non-null  object
 34  total_acc                   42420 non-null  float64
 35  initial_list_status         42420 non-null  object
 36  out_prncp                   42420 non-null  float64
 37  out_prncp_inv               42420 non-null  float64
 38  total_pymnt                 42420 non-null  float64
 39  total_pymnt_inv             42420 non-null  float64
 40  total_rec_prncp             42420 non-null  float64
 41  total_rec_int               42420 non-null  float64
 42  total_rec_late_fee          42420 non-null  float64
 43  recoveries                  42420 non-null  float64
 44  collection_recovery_fee     42420 non-null  float64
 45  last_pymnt_d                42420 non-null  object
 46  last_pymnt_amnt             42420 non-null  float64
 47  last_credit_pull_d          42420 non-null  object
 48  last_fico_range_high        42420 non-null  float64
 49  last_fico_range_low         42420 non-null  float64
 50  collections_12_mths_ex_med  42420 non-null  float64
 51  policy_code                 42420 non-null  float64
 52  application_type            42420 non-null  object
 53  acc_now_delinq              42420 non-null  float64
 54  chargeoff_within_12_mths    42420 non-null  float64
 55  delinq_amnt                 42420 non-null  float64
 56  pub_rec_bankruptcies        42420 non-null  float64
 57  tax_liens                   42420 non-null  float64
dtypes: float64(34), object(24)
memory usage: 18.8+ MB

### member_id

In [549]:
new_clean_df['member_id'] = new_clean_df['member_id'].astype('int').astype('object')

In [550]:
new_clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,604.0,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,694.0,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

### term

In [551]:
new_clean_df['term'].value_counts()

 36 months    31437
 60 months    10983
Name: term, dtype: int64

In [552]:
new_clean_df['term'].replace({' 36 months':36, ' 60 months':60}, inplace=True)

In [553]:
new_clean_df['term_months'] = new_clean_df['term'].copy()

In [554]:
new_clean_df.drop(columns=['term'], axis=1, inplace=True)

In [555]:
new_clean_df['term_months'].dtype

dtype('int64')

In [556]:
new_clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,emp_title,...,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,term_months
0,1077501,1296599,5000.0,5000.0,4975.0,10.65%,162.87,B,B2,Other,...,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36
1,1077430,1314167,2500.0,2500.0,2500.0,15.27%,59.83,C,C4,Ryder,...,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60
2,1077175,1313524,2400.0,2400.0,2400.0,15.96%,84.33,C,C5,Other,...,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36
3,1076863,1277178,10000.0,10000.0,10000.0,13.49%,339.31,C,C1,AIR RESOURCES BOARD,...,600.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36
4,1075358,1311748,3000.0,3000.0,3000.0,12.69%,67.79,B,B5,University Medical Group,...,690.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60

### int_rate

In [557]:
def nums(x):
    num = re.compile(r'[\d.]+').findall(x)
    return num[0]

In [558]:
new_clean_df['int_rate_%'] = new_clean_df['int_rate'].apply(nums)

In [559]:
new_clean_df['int_rate_%'] = pd.to_numeric(new_clean_df['int_rate_%'])

In [560]:
new_clean_df['int_rate_%'].dtype

dtype('float64')

In [561]:
new_clean_df.drop(columns=['int_rate'], axis=1, inplace=True)

In [562]:
new_clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,term_months,int_rate_%
0,1077501,1296599,5000.0,5000.0,4975.0,162.87,B,B2,Other,10+ years,...,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,10.65
1,1077430,1314167,2500.0,2500.0,2500.0,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,15.27
2,1077175,1313524,2400.0,2400.0,2400.0,84.33,C,C5,Other,10+ years,...,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,15.96
3,1076863,1277178,10000.0,10000.0,10000.0,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,13.49
4,1075358,1311748,3000.0,3000.0,3000.0,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,12.69

### emp_length

In [563]:
new_clean_df['emp_length'].value_counts()

10+ years    9356
< 1 year     6139
2 years      4734
3 years      4355
4 years      3641
1 year       3578
5 years      3448
6 years      2371
7 years      1874
8 years      1588
9 years      1336
Name: emp_length, dtype: int64

In [564]:
new_clean_df['emp_length_year'] = new_clean_df['emp_length'].replace({'< 1 year':'0'})

In [565]:
new_clean_df['emp_length_year'] = new_clean_df['emp_length_year'].apply(nums)

In [566]:
new_clean_df['emp_length_year'] = new_clean_df['emp_length_year'].astype('int64')

### revol_util

In [567]:
new_clean_df['revol_util']

0        83.7%
1         9.4%
2        98.5%
3          21%
4        53.9%
         ...
42415       0%
42416      85%
42417     2.2%
42418      66%
42419    63.5%
Name: revol_util, Length: 42420, dtype: object

In [569]:
new_clean_df['revol_util_% = new_clean_df['revol_util'].apply(nums)

In [570]:
new_clean_df['revol_util_%'] = new_clean_df['revol_util_%'].astype('float64')

In [571]:
new_clean_df.drop(columns=['emp_length','revol_util'], axis=1, inplace=True)

In [576]:
new_clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,grade,sub_grade,emp_title,home_ownership,...,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,term_months,int_rate_%,emp_length_year,revol_util_%
0,1077501,1296599,5000.0,5000.0,4975.0,162.87,B,B2,Other,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,10.65,10,83.7
1,1077430,1314167,2500.0,2500.0,2500.0,59.83,C,C4,Ryder,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,15.27,0,9.4
2,1077175,1313524,2400.0,2400.0,2400.0,84.33,C,C5,Other,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,15.96,10,98.5
3,1076863,1277178,10000.0,10000.0,10000.0,339.31,C,C1,AIR RESOURCES BOARD,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,13.49,10,21.0
4,1075358,1311748,3000.0,3000.0,3000.0,67.79,B,B5,University Medical Group,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,12.69,1,53.9

### issue_d

In [631]:
new_clean_df['issue_d']

0        Dec-2011
1        Dec-2011
2        Dec-2011
3        Dec-2011
4        Dec-2011
           ...
42415    Jul-2007
42416    Jul-2007
42417    Jul-2007
42418    Jun-2007
42419    Jun-2007
Name: issue_d, Length: 42420, dtype: object

In [632]:
new_clean_df['issue_d'] = new_clean_df['issue_d'].astype('datetime64')

In [634]:
new_clean_df['issue_d']

0       2011-12-01
1       2011-12-01
2       2011-12-01
3       2011-12-01
4       2011-12-01
           ...
42415   2007-07-01
42416   2007-07-01
42417   2007-07-01
42418   2007-06-01
42419   2007-06-01
Name: issue_d, Length: 42420, dtype: datetime64[ns]

### earliest_cr_line

In [642]:
new_clean_df['earliest_cr_line']

0        Jan-1985
1        Apr-1999
2        Nov-2001
3        Feb-1996
4        Jan-1996
           ...
42415    Dec-2006
42416    Sep-1999
42417    Mar-1984
42418    Jan-1996
42419    Jul-2004
Name: earliest_cr_line, Length: 42420, dtype: object

In [643]:
new_clean_df['earliest_cr_line'] = new_clean_df['earliest_cr_line'].astype('datetime64')

In [644]:
new_clean_df['earliest_cr_line']

0       1985-01-01
1       1999-04-01
2       2001-11-01
3       1996-02-01
4       1996-01-01
           ...
42415   2006-12-01
42416   1999-09-01
42417   1984-03-01
42418   1996-01-01
42419   2004-07-01
Name: earliest_cr_line, Length: 42420, dtype: datetime64[ns]

### total_pymnt

In [665]:
new_clean_df['total_pymnt']

0         5863.16
1         1008.71
2         3005.67
3        12231.89
4         3784.49
           ...
42415     6486.77
42416    12622.32
42417     2227.02
42418     7029.87
42419     5084.72
Name: total_pymnt, Length: 42420, dtype: float64

In [663]:
new_clean_df['total_pymnt'] = new_clean_df['total_pymnt'].apply(lambda x:np.round(x, decimals=2))

In [666]:
new_clean_df['total_pymnt']

0         5863.16
1         1008.71
2         3005.67
3        12231.89
4         3784.49
           ...
42415     6486.77
42416    12622.32
42417     2227.02
42418     7029.87
42419     5084.72
Name: total_pymnt, Length: 42420, dtype: float64

### last_pymnt_d

In [683]:
new_clean_df['last_pymnt_d']

0        Jan-2015
1        Apr-2013
2        Jun-2014
3        Jan-2015
4        Sep-2016
           ...
42415    Feb-2010
42416    Aug-2010
42417    Jul-2010
42418    Jun-2010
42419    Jun-2010
Name: last_pymnt_d, Length: 42420, dtype: object

In [684]:
new_clean_df['last_pymnt_d'] = new_clean_df['last_pymnt_d'].astype('datetime64')

In [685]:
new_clean_df['last_pymnt_d']

0       2015-01-01
1       2013-04-01
2       2014-06-01
3       2015-01-01
4       2016-09-01
           ...
42415   2010-02-01
42416   2010-08-01
42417   2010-07-01
42418   2010-06-01
42419   2010-06-01
Name: last_pymnt_d, Length: 42420, dtype: datetime64[ns]

In [686]:
new_clean_df['last_pymnt_amnt']

0         171.62
1         119.66
2         649.91
3         357.48
4          67.79
          ...
42415    1056.94
42416    1605.65
42417      63.59
42418     197.36
42419     143.28
Name: last_pymnt_amnt, Length: 42420, dtype: float64

### last_credit_pull_d

In [668]:
new_clean_df['last_credit_pull_d']

0        Sep-2016
1        Sep-2016
2        Sep-2016
3        Apr-2016
4        Sep-2016
           ...
42415    Jul-2013
42416    Aug-2010
42417    Jun-2010
42418    Oct-2014
42419    Feb-2015
Name: last_credit_pull_d, Length: 42420, dtype: object

In [670]:
new_clean_df['last_credit_pull_d'] = new_clean_df['last_credit_pull_d'].astype('datetime64')

In [671]:
new_clean_df['last_credit_pull_d']

0       2016-09-01
1       2016-09-01
2       2016-09-01
3       2016-04-01
4       2016-09-01
           ...
42415   2013-07-01
42416   2010-08-01
42417   2010-06-01
42418   2014-10-01
42419   2015-02-01
Name: last_credit_pull_d, Length: 42420, dtype: datetime64[ns]

In [697]:
new_clean_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,grade,sub_grade,emp_title,home_ownership,...,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,term_months,int_rate_%,emp_length_year,revol_util_%
0,1077501,1296599,5000.0,5000.0,4975.0,162.87,B,B2,Other,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,10.65,10,83.7
1,1077430,1314167,2500.0,2500.0,2500.0,59.83,C,C4,Ryder,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,15.27,0,9.4
2,1077175,1313524,2400.0,2400.0,2400.0,84.33,C,C5,Other,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,15.96,10,98.5
3,1076863,1277178,10000.0,10000.0,10000.0,339.31,C,C1,AIR RESOURCES BOARD,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,36,13.49,10,21.0
4,1075358,1311748,3000.0,3000.0,3000.0,67.79,B,B5,University Medical Group,RENT,...,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0,60,12.69,1,53.9

In [698]:
new_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42420 entries, 0 to 42419
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42420 non-null  object
 1   member_id                   42420 non-null  object
 2   loan_amnt                   42420 non-null  float64
 3   funded_amnt                 42420 non-null  float64
 4   funded_amnt_inv             42420 non-null  float64
 5   installment                 42420 non-null  float64
 6   grade                       42420 non-null  object
 7   sub_grade                   42420 non-null  object
 8   emp_title                   42420 non-null  object
 9   home_ownership              42420 non-null  object
 10  annual_inc                  42420 non-null  float64
 11  verification_status         42420 non-null  object
 12  issue_d                     42420 non-null  datetime64[ns]
 13  loan_status                 42420 non-null  object
 14  pymnt_plan                  42420 non-null  object
 15  url                         42420 non-null  object
 16  desc                        42420 non-null  object
 17  purpose                     42420 non-null  object
 18  title                       42420 non-null  object
 19  zip_code                    42420 non-null  object
 20  addr_state                  42420 non-null  object
 21  dti                         42420 non-null  float64
 22  delinq_2yrs                 42420 non-null  float64
 23  earliest_cr_line            42420 non-null  datetime64[ns]
 24  fico_range_low              42420 non-null  float64
 25  fico_range_high             42420 non-null  float64
 26  inq_last_6mths              42420 non-null  float64
 27  open_acc                    42420 non-null  float64
 28  pub_rec                     42420 non-null  float64
 29  revol_bal                   42420 non-null  float64
 30  total_acc                   42420 non-null  float64
 31  initial_list_status         42420 non-null  object
 32  out_prncp                   42420 non-null  float64
 33  out_prncp_inv               42420 non-null  float64
 34  total_pymnt                 42420 non-null  float64
 35  total_pymnt_inv             42420 non-null  float64
 36  total_rec_prncp             42420 non-null  float64
 37  total_rec_int               42420 non-null  float64
 38  total_rec_late_fee          42420 non-null  float64
 39  recoveries                  42420 non-null  float64
 40  collection_recovery_fee     42420 non-null  float64
 41  last_pymnt_d                42420 non-null  datetime64[ns]
 42  last_pymnt_amnt             42420 non-null  float64
 43  last_credit_pull_d          42420 non-null  datetime64[ns]
 44  last_fico_range_high        42420 non-null  float64
 45  last_fico_range_low         42420 non-null  float64
 46  collections_12_mths_ex_med  42420 non-null  float64
 47  policy_code                 42420 non-null  float64
 48  application_type            42420 non-null  object
 49  acc_now_delinq              42420 non-null  float64
 50  chargeoff_within_12_mths    42420 non-null  float64
 51  delinq_amnt                 42420 non-null  float64
 52  pub_rec_bankruptcies        42420 non-null  float64
 53  tax_liens                   42420 non-null  float64
 54  term_months                 42420 non-null  int64
 55  int_rate_%                  42420 non-null  float64
 56  emp_length_year             42420 non-null  int64
 57  revol_util_%                42420 non-null  float64
dtypes: datetime64[ns](4), float64(35), int64(2), object(17)
memory usage: 18.8+ MB

In [699]:
new_clean_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,term_months,int_rate_%,emp_length_year,revol_util_%
count,42420.000000,42420.000000,42420.000000,42420.000000,4.242000e+04,42420.000000,42420.000000,42420.000000,42420.000000,42420.000000,...,42420.0,42420.000000,42420.0,42420.000000,42420.000000,42420.000000,42420.000000,42420.000000,42420.000000,42420.000000
mean,11100.622348,10831.808699,10152.617744,322.899562,6.916992e+04,13.380188,0.152263,713.073432,717.073432,1.079939,...,1.0,0.000094,0.0,0.143329,0.043729,0.000024,42.213861,12.163146,4.798373,49.049401
std,7409.234126,7144.781810,7129.781409,208.855377,6.413422e+04,6.724445,0.511900,36.181801,36.181801,1.526400,...,0.0,0.009710,0.0,29.389325,0.205415,0.004855,10.513002,3.708374,3.607687,28.400152
min,500.000000,500.000000,0.000000,15.670000,1.896000e+03,0.000000,0.000000,610.000000,614.000000,0.000000,...,1.0,0.000000,0.0,0.000000,0.000000,0.000000,36.000000,5.420000,0.000000,0.000000
25%,5200.000000,5075.000000,4950.000000,165.740000,4.000000e+04,8.210000,0.000000,685.000000,689.000000,0.000000,...,1.0,0.000000,0.0,0.000000,0.000000,0.000000,36.000000,9.630000,2.000000,25.600000
50%,9775.000000,9600.000000,8500.000000,278.150000,5.900000e+04,13.480000,0.000000,710.000000,714.000000,1.000000,...,1.0,0.000000,0.0,0.000000,0.000000,0.000000,36.000000,11.990000,4.000000,49.600000
75%,15000.000000,15000.000000,14000.000000,428.592500,8.250000e+04,18.690000,0.000000,740.000000,744.000000,2.000000,...,1.0,0.000000,0.0,0.000000,0.000000,0.000000,60.000000,14.720000,9.000000,72.600000
max,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,13.000000,825.000000,829.000000,33.000000,...,1.0,1.000000,0.0,6053.000000,2.000000,1.000000,60.000000,24.590000,10.000000,119.000000